body {
  /* Tune this on https://docs.cord.com/get-started/live-css-editor  */
  /* Those values are the default values. */

  /* Basic background for most elements */
  --cord-color-base: #FFFFFF;

  /* Background for highlighted elements, e.g. annotation */
  --cord-color-base-strong: #F6F6F6;

  /* Hover states and borders */
  --cord-color-base-x-strong: #DADCE0;

  /* Most content, e.g. message text */
  --cord-color-content-primary: #696A6C;

  /* Supplementary content, e.g. timestamps */
  --cord-color-content-emphasis: #121314;

  /* Links, button content and usernames */
  --cord-color-brand-primary: #121314;

}

/* You can easily style any pieces of a cord component.
*  https://docs.cord.com/how-to/css-customization
*/
.cord-component .cord-avatar-container {
  border-radius: 50%;
}

cord-thread.cord-component {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
